/******* NavBar *******/

.this-company {
    color: #fff;
}

.this-company:hover {
    color: #fff;
}

.symbolSearch {
    display: inline;
    margin-left: 50px;
    background-color: #fff;
}

.searchIcon {
    width: 25px;
    height: 25px;
    padding-right: 5px;
    padding-left: 2px;
    padding-bottom: 2px;
}

.searchInput {
    border: none;
    outline: none;
    width: 300px;
}

.dropdown-nav {
    position: fixed;
    background-color: #fff;
    width: 325px;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: rgb(122, 122, 122);
}

.symbol-link {
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding-left: 20px;
    padding-top: 10px;
}

.symbol-link:hover {
    background-color: rgb(218, 218, 218);
}

.company-symbol {
    display: inline;
    padding-right: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.company {
    display: inline;
    font-size: 12px;
}

.header {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #11161b;
}

.navbar {
    width: 1070px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navLoginSignup {
    height: 40px;
    border: #fff 1px solid;
    border-radius: 5px;
    margin-left: 342px;
    color: #fff;
}

.accountButtons {
    height: 40px;
    margin-left: 60px;
}

.accountLink {
    margin-right: 48px;
    padding: 7px 0px;
    color: #fff;
}

.accountLink:hover {
    color: #fff;
    border-bottom: #fff 2px solid;
}

.logout:hover {
    background-color: rgb(44, 44, 44);
}

.logout {
    padding: 7px 12px;
    border: #fff 1px solid;
    border-radius: 5px;
    color: #fff;
}

.navLogin,
.navSignup {
    padding: 0 12px;
}