//--------------------------------
//-------- FLEX OPTIONS ----------
//--------------------------------
.ai-c {
    align-items: center;
}

.ai-b {
    align-items: baseline;
}

.jc-s {
    justify-content: space-between;
}

.jc-e {
    justify-content: end;
}

.jc-st {
    justify-content: flex-start;
}

.jc-a {
    justify-content: space-around;
}

.ai-s {
    align-items: stretch;
}

.ai-e {
    align-items: flex-end;
}

.f {
    display: flex;
}

.jc-c {
    justify-content: center;
}

.jc-b {
    justify-content: space-between;
}

.fr {
    display: flex;
    flex-direction: row;
}

.fc {
    display: flex;
    flex-direction: column;
}
//--------------------------------
//-------- BORDER OPTIONS --------
//--------------------------------
.b {
    border: #000 1px solid;
    border-radius: 5px;
}

.bb {
    border-bottom: #000 1px solid;
}

.br {
    border-right: #000 1px solid;
}

.bt {
    border-top: #000 1px solid;
}
//--------------------------------
//--------- FONT OPTIONS ---------
//--------------------------------
.title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 48px;
}

// Section Title
.st {
    font-size: 28px;
    font-weight: 700;
}

// Bold Text
.bld {
    font-weight: 600;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f22 {
    font-size: 22px;
}

.f24 {
    font-size: 24px;
}

.f32 {
    font-size: 32px;
}

// Tiny Text
.tt {
    font-size: 10px;
}

//Small Text
.smt {
    font-size: 12px;
}

// Light Text
.lt {
    color: rgb(114, 114, 114);
}

// Medium Text
.mt {
    font-size: 16px;
}

// Medium Bold Text
.mbldt {
    font-size: 18px;
    font-weight: 700;
}

// Over Flow
.of {
    text-overflow: ellipsis;
}

//--------------------------------
//------- SPACING OPTIONS --------
//--------------------------------
.h63 {
    height: 63px;
}

//------------ Margin ------------

// Teeny Tiny Margin R/L
.ttmx {
    margin-right: 3px;
    margin-left: 3px;
}

// Tiny Margin Left
.tml {
    margin-left: 6px;
}

// Tiny Margin Right
.tmr {
    margin-right: 6px;
}

//Tiny Margin T/B
.tmy {
    margin-top: 6px;
    margin-bottom: 6px;
}

// Tiny Margin R/L
.tmx {
    margin-right: 6px;
    margin-left: 6px;
}



// Small Margin Left
.sml {
    margin-left: 12px;
}

// Small Margin Top
.smmt {
    margin-top: 12px;
}

// Small Margin Bottom
.smb {
    margin-bottom: 12px;
}

// Small Margin R/L
.smx {
    margin-right: 12px;
    margin-left: 12px;
}

// Small Margin T/B
.smy {
    margin-top: 12px;
    margin-bottom: 12px;
}



// Medium Margin Top
.mmt {
    margin-top: 24px;
}

// Medium Margin Bottom 
.mmb {
    margin-bottom: 24px;
}

// Medium Margin Left
.mml {
    margin-left: 24px;
}

// Medium Margin Right
.mmr {
    margin-right: 24px;
}

// Medium Margin R/L
.mmx {
    margin-right: 24px;
    margin-left: 24px;
}

// Medium Margin T/B
.mmy {
    margin-top: 24px;
    margin-bottom: 24px;
}



// Large Margin Top 
.lmt {
    margin-top: 36px;
}

// Large Margin R/L
.lmx {
    margin-right: 48px;
    margin-left: 48px;
}

// Large Margin T/B
.lmy {
    margin-top: 48px;
    margin-bottom: 48px;
}



// Huge Margin Top
.hmt {
    margin-top: 72px;
}

//----------- Padding -----------

// Tiny Padding Bottom
.tpb {
    padding-bottom: 6px;
}

.tpy {
    padding-top: 3px;
    padding-bottom: 3px;
}

// Tiny Padding
.tp {
    padding: 3px 3px;
}

// Small Padding Left
.spl {
    padding-left: 12px;
}

// Small Padding Right
.spr {
    padding-right: 12px;
}

// Small Padding R/L
.spx {
    padding-right: 6px;
    padding-left: 6px;
}

// Small Padding T/B
.spy {
    padding-top: 6px;
    padding-bottom: 6px;
}

.sp {
    padding: 6px 6px;
}



// Medium Padding Bottom
.mpb {
    padding-bottom: 24px;
}

// Medium Padding Top
.mpt {
    padding-top: 24px;
}

// Medium Padding T/B
.mpy {
    padding-top: 24px;
    padding-bottom: 24px;
}



// Large Padding Left
.lpl {
    padding-left: 36px;
}

// Large Padding T/B
.lpy {
    padding-top: 48px;
    padding-bottom: 48px;
}

// Large Padding R/L 
.lpx {
    padding-right: 48px;
    padding-left: 48px;
}


//--------------------------------
//----------- Buttons ------------
//--------------------------------

.editButton {
    width: 114px;
    height: 36px;
    border: #000 1px solid;
    border-radius: 5px;
    background-color: #fff;
}

.editButton:hover {
    background-color: rgb(202, 202, 202);
}

.editButtonHidden {
    width: 114px;
    height: 36px;
    border: #727272 1px solid;
    border-radius: 5px;
    background-color: #dfdfdf;
    color: #727272;
    cursor: default !important;
}

.editButtonDisabled {
    width: 114px;
    height: 36px;
    border: #000 1px solid;
    border-radius: 5px;
    background-color: #fff;
    cursor: default !important;
}

.editButtonSmall {
    width: 57px;
    height: 36px;
    border: #000 1px solid;
    border-radius: 5px;
    background-color: #fff;
}

.editButtonSmall:hover {
    background-color: rgb(202, 202, 202);
}

.editButtonMedium {
    width: 76px;
    height: 36px;
    border: #000 1px solid;
    border-radius: 5px;
    background-color: #fff;
}

.editButtonMedium:hover {
    background-color: rgb(202, 202, 202);
}

.editButtonMediumHidden {
    width: 76px;
    height: 36px;
    border: #727272 1px solid;
    border-radius: 5px;
    background-color: #dfdfdf;
    color: #727272;
    cursor: default !important;
}